body {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 59vh;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 39vh;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px;
    transition: box-shadow 0.3s ease-out;
}

button:hover {
    background-color: #409cff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
}

@media (orientation: portrait) {
    .info_title {
        height: 39vh;; /* 橫向時的高度 */
    }
  }
  
@media (orientation: landscape) {
    .info_title {
        height: 230px; /* 直向時的高度 */
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        /* --bgColor: #24323E; */
        /* --fontColor: #bdbdbd; */
        color: #FFFFFF;
    }
}