body {
    text-align: center;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 39vh;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

a {
    color: gray;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: box-shadow 0.3s ease-out;
    font-weight: 600;
    min-width: 100px;
}

button.iconBtn{
    padding: 4.5px 15px;
}

button.cancel {
    background-color: gray;
}

button.cancel:hover {
    background-color: rgb(151, 151, 151);
}

button.danger {
    background-color: #b12e2e;
}

button.danger:hover {
    background-color: #d43838;
}

button:hover {
    background-color: #409cff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
}

.view_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.view_cards#categories_sum {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto; /* 啟用水平滾動 */
    -webkit-overflow-scrolling: touch; /* 支援 iOS 的流暢滾動 */
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 1000px;
}

.view_cards#categories_sum::-webkit-scrollbar {
    display: none; /* 隱藏滾動條（Chrome，Safari，Edge）*/
}


.view_cards#categories_sum:hover {
    scrollbar-width: thin;
}

.view_tinycard {
    padding: 10pt 20pt 10pt 20pt;
    margin: 10px 5px 10px 5px;
    width: fit-content;
    min-width: 25pt;
    border-radius: calc(50px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007BFF;
}

#categories_sum .view_tinycard {
    font-weight: 600;
    font-size: 10pt;
    white-space: nowrap;
    flex-shrink: 0;
}

#income.view_tinycard  {
    background-color: #337736;
}

#expense.view_tinycard {
    background-color: #b12e2e;
}

.action_card {
    padding: 24px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.edit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 0;
}

@media (orientation: portrait) {
    .info_title {
        height: 39vh;
    }
    .action_cards {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
  
@media (orientation: landscape) {
    .info_title {
        height: auto;
        min-height: auto;
    }
    .action_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        /* --bgColor: #24323E; */
        /* --fontColor: #bdbdbd; */
        color: #FFFFFF;
    }
    button:hover {
        box-shadow: 0 5px 20px 0 rgba(255, 255, 255, 0.5);
    }
}