table {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
}

th, td {
    text-align: left;
    padding: 10px;
}

th:first-child{
    border-top-left-radius: 10px;
  }
  
th:last-child{
    border-top-right-radius: 10px;
}

tr:nth-child(odd){
    background-color: #ffffff
}

tr:nth-child(even){
    background-color: #f2f2f2
}

tr:hover {
    background-color: #d4d4d4;
}

th {
    background-color: #007BFF;
    color: white;
}

.amount {
    padding: 5pt 10pt 5pt 10pt;
    width: fit-content;
    min-width: 30pt;
    border-radius: calc(50px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Arial Black", Arial, sans-serif; */
}

.amount.income {
    background-color: #337736;
}

.amount.expense {
    background-color: #b12e2e;
}

@media (prefers-color-scheme: dark) {
    tr{
        color: white;
    }
    tr:nth-child(even){
        background-color: #3C3C3C
    }

    tr:nth-child(odd) {
        background-color: #2E2E2E;
    }
    tr:hover {
        background-color: #505050;
    }
}