<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BookKeeping</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/connection.css') }}">
	<link rel="icon" href="{{url_for('static', filename='icons/web-icon.svg')}}">
	<link rel="icon" href="{{url_for('static', filename='icons/icon_144.png')}}" type="image/png">
	<link rel="icon" href="{{url_for('static', filename='icons/icon_192.png')}}" type="image/png">
	<link rel="icon" href="{{url_for('static', filename='icons/icon_512.png')}}" type="image/png">
	<link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144.png')}}" type="image/png">
	<link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192.png')}}" type="image/png">
	<link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512.png')}}" type="image/png">
	<link rel="manifest" href="/manifest.json">

	<script src="https://kit.fontawesome.com/4c8fc690ad.js" crossorigin="anonymous"></script>

	<style>

    

	</style>
</head>
<body>

	<app-root></app-root>
	<script type="text/javascript">

		if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('./sw.js')
			.then(reg => console.log('SW registered!'))
			.catch(err => console.log('Error!', err));
		}

	</script>

	<div class="view">
		<div class="connection loading">
			<img src="{{  url_for('static', filename='svgs/loading.svg')  }}" alt="">
			<p>正在連線到伺服器</p>
		</div>	
	</div>

	<form method="post" action="./">

		<!-- 輸入框 -->
		<input 
			type="text" 
			name="content_of_textbox" 
			autocomplete="off" 
			enterkeyhint="send" 
			placeholder="50/bubble tea"
		>
		
		<!-- 收入或支出選擇 -->
		<br>
		<div class="radio clearfix" style="margin:0px auto;">
			<div class="radio-item" id="expense">
				<input type="radio" name="transaction_type" id="expenseRadio" value="支出" checked/>
				<label>
					<i class="disc"></i>
					<i class="active"></i>
				</label>
				<span>Expense</span>
			</div>
			<div class="radio-item" id="income">
				<input type="radio" name="transaction_type" id="incomeRadio" value="收入" />
				<label>
					<i class="disc"></i>
					<i class="active"></i>
				</label>
				<span>Income</span>
			</div>
		</div>



		<!-- 分類按鈕 -->
		<br>
			<div class="radio clearfix" style="margin:0px auto;" id="expenseCategory">
				{% for item in expenseCategory %}
				<div class="radio-item">
					<input type="radio" name="category" id="" value="{{ item }}" checked/>
					<label>
						<i class="disc"></i>
						<i class="active"></i>
					</label>
					<span>{{ item }}</span>
				</div>
				{% endfor %}
				<div class="radio-item">
					<input type="radio" name="category" id="" value="其他"/>
					<label>
						<i class="disc"></i>
						<i class="active"></i>
					</label>
					<span>Others</span>
				</div>
			</div>

			<div class="radio clearfix" style="margin:0px auto;" id="incomeCategory" style="display: none;">
				{% for item in incomeCategory %}
				<div class="radio-item">
					<input type="radio" name="category" id="" value="{{ item }}" checked/>
					<label>
						<i class="disc"></i>
						<i class="active"></i>
					</label>
					<span>{{ item }}</span>
				</div>
				{% endfor %}
				<div class="radio-item">
					<input type="radio" name="category" id="" value="其他"/>
					<label>
						<i class="disc"></i>
						<i class="active"></i>
					</label>
					<span>Others</span>
				</div>
			</div>

		<br>

		<!-- 送出按鈕 -->
		<input type="submit" value="Send">

	</form>

	<script>

	window.onload = function() {
		var input = document.getElementsByName("content_of_textbox")[0];
		input.focus();
		input.select();
		input.click();
	};

	document.addEventListener('DOMContentLoaded', function () {
		const connectionDiv = document.querySelector('.connection');
		const imgElement = connectionDiv.querySelector('img');
		const pElement = connectionDiv.querySelector('p');

		function connect() {
			fetch('./test')
				.then(response => {
					if (response.ok) {
						connectionDiv.classList.remove('loading');
						connectionDiv.classList.add('success');
						imgElement.src = "/static/svgs/success.svg";
						pElement.textContent = "已連接到伺服器";
						setTimeout(() => {
							connectionDiv.classList.add('fade-out');
						}, 2000); // Fade out after 2 seconds
					} else {
						connectionDiv.classList.remove('loading');
						connectionDiv.classList.add('warning');
						imgElement.src = "/static/svgs/warning.svg";
						pElement.textContent = "無法連接到伺服器";
						setTimeout(connect, 3000); // Retry after 3 seconds
					}
				})
				.catch(error => {
					connectionDiv.classList.remove('loading');
					connectionDiv.classList.add('warning');
					imgElement.src = "/static/svgs/warning.svg";
					pElement.textContent = "無法連接到伺服器";
					setTimeout(connect, 3000); // Retry after 3 seconds
				});
		}

		connect();
	});

	document.addEventListener('DOMContentLoaded', function () {
        const expenseRadio = document.getElementById('expenseRadio');
        const incomeRadio = document.getElementById('incomeRadio');
        const expenseCategory = document.getElementById('expenseCategory');
        const incomeCategory = document.getElementById('incomeCategory');

        // 預設顯示支出選項
        expenseCategory.style.display = 'block';
        incomeCategory.style.display = 'none';

        // 監聽收入與支出選項的變化
        expenseRadio.addEventListener('change', function () {
            expenseCategory.style.display = 'block';
            incomeCategory.style.display = 'none';
        });

        incomeRadio.addEventListener('change', function () {
            incomeCategory.style.display = 'block';
            expenseCategory.style.display = 'none';
        });
    });

	</script>

</body>
</html>
